{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} | Dashboard{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'flags/sprite.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pb-3">
            <div class="col-auto">
                <h3>Dashboard -
                    <small>List of Employee</small>
                </h3>
            </div>
            <div class="col-auto ml-auto">
                <button type="button" class="btn" data-toggle="modal" data-target="#importExcel">
                    <i class="far fa-file-excel"></i>
                    <span>Import from Excel File</span>
                </button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn " data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-plus"></i>
                    <span>Add New</span>
                </button>
            </div>
        </div>

        <div class="row pb-3 align-items-end justify-content-between">
            <div class="col-auto">
                <form method="get" action="{% url 'employee:dashboard' %}">
                    <div class="input-group">
                        <select class="custom-select form-control" name="orderby">
                            <option value="name">Name</option>
                            <option value="age">Age</option>
                            <option value="gender">Gender</option>
                            <option value="marital_status">Marital State</option>
                            <option value="country">Country</option>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Ordering</button>
                        </div>
                    </div>
                    <small class="form-text text-muted">Order Employee Based on any item of list</small>
                </form>
            </div>
            <div class="col-auto">
                <form method="get" action="{% url 'employee:dashboard' %}">
                    <div class="input-group mt-1">
                        <input type="text" class="form-control" placeholder="Search ..." name="filter">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                        </div>
                    </div>
                    <small class="form-text text-muted">Search on any of Employee Position</small>
                </form>
            </div>
        </div>

        {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                    </li>
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}

        <div class="row justify-content-center">
            <div class="accordion col-md-7 col-sm-10" id="employeeList">
                {% for emp in employee_list %}
                    <div class="card">
                        <div class="card-header" id="heading{{ emp.pk }}">
                            <h5 class="mb-0 d-flex align-items-center">
                                <button class="btn btn-link"
                                        type="button"
                                        data-toggle="collapse"
                                        data-target="#list{{ emp.pk }}" aria-expanded="true"
                                        aria-controls="list{{ emp.pk }}">
                                    {{ emp.full_name }}
                                </button>
                                <small class="text-muted ml-auto">{{ emp.position }}</small>
                            </h5>
                        </div>

                        <div id="list{{ emp.pk }}"
                             class="collapse"
                             aria-labelledby="heading{{ emp.pk }}"
                             data-parent="#employeeList">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>First Name</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.first_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Last Name</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.last_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Date of Birth</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.birth_date }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Age</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.age }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Place of Birth</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.birth_place }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>National Identifier</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.identifier }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Country</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">
                                                        <i class="flag2x {{ emp.country.flag_css }}"></i>
                                                        <span>{{ emp.country.name }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Nationality</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">
                                                        <i class="flag2x {{ emp.nationality.flag_css }}"></i>
                                                        <span>{{ emp.nationality.name }}</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Gender</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.get_gender_display }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="media">
                                                <div class="align-self-end mr-3">
                                                    <strong>Marital State</strong>
                                                </div>
                                                <div class="media-body">
                                                    <p class="m-0">{{ emp.get_marital_status_display }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-6">
                                            <a class="btn btn-primary btn-sm edit-employee"
                                               href="#"
                                               data-form="{% url 'employee:update' emp.pk %}">
                                                <i class="far fa-edit"></i>
                                                <span>Edit</span>
                                            </a>
                                        </div>
                                        <div class="col-6 text-right">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm"
                                                    data-toggle="modal"
                                                    data-target="#deleteModal">
                                                <i class="fas fa-trash-alt"></i>
                                                <span>Delete</span>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    {% include 'employee/partial/import-excel.html' %}
{% endblock %}


{% block scripts %}
    <script>
       $(function () {
          'use strict';
          $(".edit-employee").click(function (ev) {
             ev.preventDefault();
             var url = $(this).data("form");
             $("#Modal .modal-content").load(url, function () {
                $('#Modal').modal('show');
             });
             return false;
          });

          $('.edit-form').on('submit', function () {
             console.log('submited');
             $.ajax({
                type: $(this).attr('method'),
                url: this.action,
                data: $(this).serialize(),
                context: this,
             });
             return false;
          });
       });
    </script>
{% endblock %}